doctype html
html
  head
    meta(charset="utf-8")
    title Home - Mkrbs
    link(rel="stylesheet", href="css/index.css")
    link(rel="shortcut icon", href="/favicon.ico")
  body
    header
      h1 Welcome
      nav
        a(href="/") Home
        a(href="/login") Login
        a(href="/register") Register
      img(src="assets/images/background_main.png")
    main
    footer