doctype html
html
  include login_head.pug
  body
    header
    main
      form(action='/login', method='post')
        .card
          .card-title Login to your account
          .card-group
            input(type='text', name='username', placeholder='Username')
          .card-group
            input(type='password', name='password', placeholder='Password')
          .card-footer
            button(type='submit') Sign in