nav.top-nav
    a(href="/", class="nav-link" style="font-weight:bold") Home
    a(href="/login", class="nav-link") Login
    a(href="/register", class="nav-link") Register
    a(href="#", class="nav-link") About
    a(href="#", class="nav-link") Contact
    a(href="#", class="nav-link") Help