doctype html
html
  head
    meta(charset="utf-8")
    title Home - Mkrbs
    link(rel="stylesheet", href="css/index.css")
    link(rel="stylesheet", href="css/top-nav.css")
    link(rel="shortcut icon", href="/favicon.ico")
  body
    header
      include ..\topnav
      h1 Hello there!(Star Wars)
      img(src="assets/images/background_main.png")
    main
    footer